<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
  <div class="container-lg">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <!-- hamburger menu -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- menu links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">Add Campground</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <!-- <a class="nav-link" href="/register">Register</a> -->
        <form action="/register" method="GET" class="container-fluid ps-0">
          <button class="btn btn-primary">Join Free</button>
        </form>
        <% } else { %>
        <span class="navbar-text">Hi, <strong><%= currentUser.username %></strong></span>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
