# Ignore node_modules folder
node_modules

# Ignore files related to API keys
.env

# Ignore all text files
*.txt

# # Ignore seed data generator
# seeds

# Ignore local image storage (only use for testing)
uploads

# Ignore vscode configs
.vscode