<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YelpCamp</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/searchBar.css">
    <link rel="icon" type="image/x-icon" href="/images/icons/blue-logo.png">

    <!-- BootStrap CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- mapbox CSS + JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/app.css">

    <!-- font awesome -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/solid.css">
    <link rel="stylesheet" href="/css/brands.css">
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar.ejs') %>
    <main class="">
      <%- include('../partials/flash.ejs') %> 
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>

    <!-- BootStrap JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <script src="/js/validateForm.js"></script>
  </body>
</html>
