:root {
  --clr-light-gray: hsl(207,6%,73%);
  --clr-primary: hsl(216,98%,52%);
  --clr-primary-light: hsl(207, 98%, 52%);
}

#search-form {
  position: relative;
}

.input-group {
  position: relative;
  width: 100%;
  z-index: 3;
}

#input-search {

}

#button-clear {
  z-index: 5;
  position: absolute;
  top: calc(21px - 11px);
  right: 58px;
}

#button-search {
  width: 42px; 
}

#search-results {
  position: absolute;
  z-index: 2; 
  width: 100%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

#search-results a {
  z-index: 4;
}

#search-results a:focus .hoverable,
#search-results a:focus .hoverable > i {
  background-color: hsl(216,98%,52%) !important;
  color: white !important;
}

.hoverable {
  border: 0 !important;
  position: relative;
}

.hoverable i {
  color: var(--clr-light-gray);
}

.hoverable::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  border-top: 1px dotted var(--clr-light-gray);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hoverable:hover,
.hoverable:hover > i,
.hoverable:focus {
  background-color: hsl(216,98%,52%) !important;
  color: white !important;
}

.select {
  background-color: var(--clr-primary-light) !important;
  color: white !important;
}