<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      class="needs-validation"
      action="/campgrounds"
      method="POST"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="invalid-feedback">Please provide a campground title.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="invalid-feedback">Please provide a location.</div>
      </div>
      <div class="mb-3">
        <input 
          type="file" 
          name="image" 
          id="" 
          accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp"
          multiple 
        >
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            id="price"
            name="campground[price]"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
          <div class="invalid-feedback">Please provide a valid price.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please provide a campground description.
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
